.page {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.table {
    &_container {
        width: 100%;
    }

    &_head {
        background-color: #f2f2f2;
    }

    &_row {
        border-block-end: 1px solid #ddd;
    }

    &_heading {
        padding: .5rem;
        text-align: left;
    }

    &_body {

        .body_row {

            &:nth-child(even) {
                background-color: #f9f9f9;
            }

            td {
                padding: .5rem;
            }
        }
    } 
   
}

.amount_input {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}